<!-- <div *ngIf="blah$ | async as blahS">blah blah blah:  {{blahS}}</div>
<div *ngIf="powerOfTwo | async as blahS">powerOfTwo:  {{blahS}}</div>



<div *ngIf="combineClickAndTimerStream | async as localCountVariable">combineClickAndTimerStream:  {{localCountVariable}}</div>

<div *ngIf="combineAllHigherOrder | async as combineAll">combineAllHigherOrder:  {{combineAll}}</div> -->

<!-- <div *ngIf="higherOrder | async as combineAll">higherOrder:  {{combineAll}}</div> -->

<!-- <div *ngIf="switchMappedHighOrder | async as combineAll">switchMappedHighOrder:  {{combineAll}}</div>
 -->

 
<!-- <div *ngIf="concatMapTimerWithInnerClickCounterfromBlah | async as localVar">concatMapTimerWithInnerClickCounterfromBlah:  {{localVar}}</div> -->

<!-- 
<div *ngIf="concatMapClickCounterfromBlahWithInnerTimer | async as localVar">concatMapClickCounterfromBlahWithInnerTimer:  {{localVar}}</div> 
  -->


<!-- 
<div *ngIf="concatAllHighOrder | async as combineAll">concatAllHighOrder:  {{combineAll}}</div>


<div *ngIf="toCounterDataStream | async as intoCounter">toCounterDataStream:  {{intoCounter}}</div>


<div *ngIf="counterDataStream$ | async as counterS">Counter DataStream  {{counterS}}</div> -->



<!-- Use for preventing double clicks or for on key up events were the input stream could still have more
and it is best to wait to see if more input is coming -->
<!-- <div *ngIf="debouncedClicks1000 | async as localVar">debouncedClicks1000:  {{localVar}}</div>  -->


<!-- <p>Mouse click event mapped to client x value and then distinct function run</p>
<div *ngIf="distinctClickScreenX | async as localVar">distinctClick:  {{localVar}}</div> -->



<!-- <p>Mouse click event mapped to client x value and then interval inner function for two secs concat mapped</p>
<div *ngIf="clientXhighOrderIntervalMulti | async as localVar">clientXhighOrderIntervalMulti:  {{localVar}}</div> -->

<p>Mouse click event mapped to client x value and then waits for interval inner function for two takes of two seconds a emit then a switch map</p>
<div *ngIf="clientXhighOrderIntervalSwitchMap | async as localVar">clientXhighOrderIntervalSwitchMap:  {{localVar}}</div>




<!-- <div *ngIf="buffered$ | async as buffS">buff stream: {{buffS}}</div> -->

<!-- div *ngIf="throttledClicks$ | async as lastS">Throttled buff stream: {{lastS}}</div> -->


<!-- <div *ngIf="lastBufferedValue$ | async as lastS">last of the buff stream: {{lastS}}</div> -->



<!-- <div *ngIf="clicks$ | async as click">{{click+1}}</div> -->
<!-- <div *ngIf="resultTHrottled$ | async as click">{{counter}}</div>

<div *ngIf="counterDataStream$ | async as counterS">{{setCounter(counterS+1)}}</div>





<h1 [(innerHTML)]="counter"></h1>
<input [(ngModel)]="counter" id="example-ngModel"> -->
